<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="banco" connectionString="Server=RIKELME-PC\RYUUZAKI; Initial Catalog=ProjectEdith; User ID=sa;Password=lialee123;"/>
  </connectionStrings>
</configuration>